name: Release

on:
  workflow_dispatch:

env:
  GITHUB_ACTIONS: true
  DEVELOPER_DIR: /Applications/Xcode_14.2.app/Contents/Developer

jobs:
  setup:
    runs-on: ubuntu-22.04
    outputs:
      DATE: ${{ steps.get_date.outputs.DATE }}
    steps:
      - name: Get current date
        id: get_date
        run: echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

  macos:
    strategy:
      matrix:
        python-version: ["3.13"]

    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.2.0"

      - uses: pdm-project/setup-pdm@v3
        name: Setup PDM
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          version: 2.11.1
          prerelease: false
          enable-pep582: false
          allow-python-prereleases: false
          update-python: true

      - name: Check Python version
        run: |
          python --version


      - name: vulkansdk
        run: |
          cd src
          wget https://github.com/Tohrusky/realcugan-ncnn-vulkan-build-macOS/releases/download/v0.0.1/vulkansdk-macos-1.2.162.1.dmg -O vulkansdk-macos-1.2.162.1.dmg
          hdiutil attach vulkansdk-macos-1.2.162.1.dmg
          cp -r /Volumes/vulkansdk-macos-1.2.162.1 .
          rm -rf vulkansdk-macos-1.2.162.1/Applications
          find vulkansdk-macos-1.2.162.1 -type f | grep -v -E 'vulkan|glslang|MoltenVK' | xargs rm
          hdiutil detach /Volumes/vulkansdk-macos-1.2.162.1

      - name: build-arm64
        run: |
          cd src
          export VULKAN_SDK=`pwd`/vulkansdk-macos-1.2.162.1/macOS
          mkdir build-arm64 && cd build-arm64
          cmake -DUSE_STATIC_MOLTENVK=ON -DCMAKE_OSX_ARCHITECTURES="arm64" -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
              -DCMAKE_CROSSCOMPILING=ON -DCMAKE_SYSTEM_PROCESSOR=arm64 \
              -DVulkan_INCLUDE_DIR=`pwd`/../vulkansdk-macos-1.2.162.1/MoltenVK/include \
              -DVulkan_LIBRARY=`pwd`/../vulkansdk-macos-1.2.162.1/MoltenVK/MoltenVK.xcframework/macos-arm64_x86_64/libMoltenVK.a \
              ..
          cmake --build . -j 4

      - name: build-x86_64
        run: |
          cd src
          export VULKAN_SDK=`pwd`/vulkansdk-macos-1.2.162.1/macOS
          mkdir build-x86_64 && cd build-x86_64
          cmake -DUSE_STATIC_MOLTENVK=ON -DCMAKE_OSX_ARCHITECTURES="x86_64" \
              -DCMAKE_CROSSCOMPILING=ON -DCMAKE_SYSTEM_PROCESSOR=x86_64 \
              -DVulkan_INCLUDE_DIR=`pwd`/../vulkansdk-macos-1.2.162.1/MoltenVK/include \
              -DVulkan_LIBRARY=`pwd`/../vulkansdk-macos-1.2.162.1/MoltenVK/MoltenVK.xcframework/macos-arm64_x86_64/libMoltenVK.a \
              ..
          cmake --build . -j 4
          
   
      - name: build python 3.13 wheel
        if: matrix.python-version == '3.13'
        run: |
          lipo -create src/build-arm64/upscale_ncnn_vulkan_wrapper.cpython-313-darwin.so src/build-x86_64/upscale_ncnn_vulkan_wrapper.cpython-313-darwin.so -o src/upscale_ncnn_py/upscale_ncnn_vulkan_wrapper.cpython-313-darwin.so
          pdm build --no-sdist --config-setting="--python-tag=cp313" --config-setting="--plat-name=macosx_11_0_universal2"
    

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: macos-${{ matrix.python-version }}

  windows:
    strategy:
      matrix:
        python-version: ["3.13"]

    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: pdm-project/setup-pdm@v3
        name: Setup PDM
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          version: 2.11.1
          prerelease: false
          enable-pep582: false
          allow-python-prereleases: false
          update-python: true

      - name: Check Python version
        run: |
          python --version


      - name: vulkansdk
        run: |
          Invoke-WebRequest -Uri https://github.com/Tohrusky/realcugan-ncnn-vulkan-build-macOS/releases/download/v0.0.1/VulkanSDK-1.2.162.1-Installer.exe -OutFile VulkanSDK-1.2.162.1-Installer.exe
          7z x -aoa ./VulkanSDK-1.2.162.1-Installer.exe -oVulkanSDK
          Remove-Item .\VulkanSDK\Demos, .\VulkanSDK\Samples, .\VulkanSDK\Third-Party, .\VulkanSDK\Tools, .\VulkanSDK\Tools32, .\VulkanSDK\Bin32, .\VulkanSDK\Lib32 -Recurse

      - name: Build
        run: |
          $env:VULKAN_SDK="$(pwd)\VulkanSDK"
          $env:CMAKE_FLAGS="-DPY_VERSION=${{ matrix.python-version }}"
          cd src
          mkdir build && cd build
          cmake -A x64 -DCMAKE_POLICY_VERSION_MINIMUM=3.5 -DCMAKE_CXX_FLAGS="-frtti -fexceptions" ..
          cmake --build . --config Release -j 4

      - name: pre build wheel
        run: |
          echo F | xcopy .\src\build\Release\upscale_ncnn_vulkan_wrapper.*.pyd .\src\upscale_ncnn_py

      - name: build python 3.13 wheel
        if: matrix.python-version == '3.13'
        run: pdm build --no-sdist --config-setting="--python-tag=cp313" --config-setting="--plat-name=win_amd64"

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: windows-${{ matrix.python-version }}

  windows-arm:
    strategy:
      matrix:
        python-version: ["3.13"]

    runs-on: windows-11-arm
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: pdm-project/setup-pdm@v3
        name: Setup PDM
        with:
          python-version: ${{ matrix.python-version }}
          architecture: arm64
          version: 2.11.1
          prerelease: false
          enable-pep582: false
          allow-python-prereleases: false
          update-python: true

      - name: Check Python version
        run: |
          python --version
          
      - name: Prepare Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
         vulkan-query-version: 1.4.304.1
         vulkan-components: Vulkan-Headers, Vulkan-Loader
         vulkan-use-cache: true

      - name: Build
        run: |
          $env:CMAKE_FLAGS="-DPY_VERSION=${{ matrix.python-version }}"
          cd src
          mkdir build && cd build
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 -DCMAKE_CXX_FLAGS="-frtti -fexceptions" ..
          cmake --build . --config Release -j 4

      - name: pre build wheel
        run: |
          echo F | xcopy .\src\build\Release\upscale_ncnn_vulkan_wrapper.*.pyd .\src\upscale_ncnn_py

      - name: build python 3.13 wheel
        if: matrix.python-version == '3.13'
        run: pdm build --no-sdist --config-setting="--python-tag=cp313" --config-setting="--plat-name=win_amd64"

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: windows-${{ matrix.python-version }}
  
  linux:
    strategy:
      matrix:
        python-version: ["3.12"]

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libvulkan-dev glslang-dev glslang-tools libomp5
      - uses: pdm-project/setup-pdm@v3
        name: Setup PDM
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          version: 2.11.1
          prerelease: false
          enable-pep582: false
          allow-python-prereleases: false
          update-python: true

      - name: Check Python version
        run: |
          python --version


      - name: build
        
        run: |
          cd src
          mkdir build && cd build
          cmake ../
          cmake --build . -j 4

      - name: pre build wheel
        run: |
          cp src/build/upscale_ncnn_vulkan_wrapper.*.so src/upscale_ncnn_py


      - name: build python 3.12 wheel
        if: matrix.python-version == '3.12'
        run: pdm build --no-sdist --config-setting="--python-tag=cp312" --config-setting="--plat-name=manylinux1_x86_64"

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: linux-${{ matrix.python-version }}
          
  linux_arm64:
    strategy:
      matrix:
        python-version: ["3.13"]

    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libvulkan-dev glslang-dev glslang-tools libomp5
      - uses: pdm-project/setup-pdm@v3
        name: Setup PDM
        with:
          python-version: ${{ matrix.python-version }}
          architecture: arm64
          version: 2.11.1
          prerelease: false
          enable-pep582: false
          allow-python-prereleases: false
          update-python: true

      - name: Check Python version
        run: |
          python --version

      - name: build
        
        run: |
          cd src
          mkdir build && cd build
          cmake ../
          cmake --build . -j 4 

      - name: pre build wheel
        run: |
          cp src/build/upscale_ncnn_vulkan_wrapper.*.so src/upscale_ncnn_py


      - name: build python 3.13 wheel
        if: matrix.python-version == '3.13'
        run: pdm build --no-sdist --config-setting="--python-tag=cp313" --config-setting="--plat-name=manylinux2014_aarch64"

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: linux_arm64-${{ matrix.python-version }}
          
  Release:
    needs: [setup, windows, linux, linux_arm64]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          path: asset

      - name: dist
        run: |
          mkdir dist
          cp asset/artifact/* dist
          cd dist && ls

      
      - name: Create Release and Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ needs.setup.outputs.DATE }}
          tag_name: ${{ needs.setup.outputs.DATE }}
          body: Auto Release.
          draft: false
          prerelease: false
          files: dist/*
